.calendar_grid_text, .calendar_label, .mini_calendar_text, .mini_calendar_label {
    font-family: "Creato Display";
}

.calendar_grid_text {
    font-size: 5mm;
}

.mini_calendar_text {
    font-size: 3.5mm;
}

.mini_calendar_label {
    stroke: rgb(0, 0, 0);
    fill: rgb(0, 0, 0)
}

.calendar_grid_line {
    stroke-width: 1px;
    stroke: rgb(0, 100, 0);
    fill: none
}

.calendar_label {
    font-size: 12mm
}

.holiday {
    stroke: rgb(255, 0, 0);
    fill: rgb(255, 0, 0)
}

.regular-day {
    stroke: rgb(0, 0, 0);
    fill: rgb(0, 0, 0)
}

.off-day {
    stroke-opacity: 0.2;
    fill-opacity: 0.2
}