.calendar_grid_text,
.calendar_week_label,
.calendar_label,
.calendar_number_label,
.mini_calendar_text,
.mini_calendar_label {
    font-family: "Creato Display";
}

.minicalendar {
    text-anchor: middle
}

.minicalendar_border {
    stroke: rgb(0, 0, 0);
    fill: none
}

.mini_calendar_text {
    font-size: 3mm;
}

.mini_calendar_label {
    fill: rgb(0, 0, 0);
    font-size: 90%;
}

.calendar_grid_text {
    font-size: 5mm;
}

.calendar_week_label {
    font-size: 3mm;
}

.calendar_grid_line {
    stroke-width: 1px;
    stroke: rgb(0, 100, 0);
    fill: none
}

.calendar_label {
    font-size: 12mm;
    fill: rgb(0, 0, 0)
}

.calendar_number_label {
    font-size: 4mm;
}

.holiday {
    fill: rgb(255, 0, 0)
}

.regular-day {
    fill: rgb(0, 0, 0)
}

.off-day {
    fill-opacity: 0.2
}